body{

    font-family: Arial, sans-serif;
    background-color: pink;
    text-align: center;
    margin:0;
    padding:0;

}

h1{
    color:rgb(255, 255, 255)
    ;
    margin-top: 15px;
    font-size: 24px;
}
h2{
    color:rgb(255, 255, 255)
    ;
    margin-top: 15px;
    font-size: 24px;
}
input[type="text"] {
    padding: 15px;       /* mai mult padding pentru text */
    width: 400px;        /* lățime mai mare */
    font-size: 18px;     /* text mai mare în interiorul input-ului */
    border: 1px solid #ccc;
    border-radius: 5px;
}